{% extends "layout.html" %}

{% block body %}
<div class="container">
    <header class="header">
        <div class="logo">

        </div>
        <div class="nav">
            <ul>
                <li>
                    <a href="signin"><button class="button">Sign in</button></a>
                </li>
                <li>
                    <a href="/signup"><button class="button is-primary">Register</button></a>
                </li>
            </ul>
        </div>
    </header>

    <section class="section">
        <div class="hero-image">
            <img src="/public/img/family4.svg"  alt="">
        </div>
        <div class="hero-text">
            <h1 class=heading>
                Register as a citizen today.
            </h1>
            <p>
                Registeration enables us to track specific data that will 
                enhance our efficiency as a nation by a huge percentage
            </p>
        </div>
        
    </section>
</div>


{% endblock %}