* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'poppins';
    /* background-image: linear-gradient(to right, rgb(247, 164, 255), rgb(179, 255, 201)); */
    position: fixed;
    width:100%;
    /* z-index: -1000; */

}

.container {
    
    
}

.header {
    display: flex;
    padding-top: 30px;
}

.nav, .logo {
    flex: 1;
}

.nav ul{
    display: flex;
    justify-content: flex-end;
    
}

.nav ul li {
    padding: 0 8px;
    
}

.nav ul li button {
    font-weight: bold;
}


.section {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    /* background:blue; */
    width:90%;
}

.hero-image, .hero-text {
    flex: 1;
}
.section h1{
    
    font-size: 48px;
    font-weight: bold;
    color:black;
}

.section p {
    font-size: 24px;
    color:black;
}

.hero-image img {
    width: 250%;
    height:auto;
}

.blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: #97e7ff;
    width: 50vmax;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
  }
  
  @keyframes move {
    0%   { transform: scale(1)   translate(10px, -30px); }
    38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -30px); }
  }
  
  
  
  
  
